@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Index */
.indexH {
  background-color: #97cdde;
}
.indexH .lead {
  color: #222121;
  font-family: "Lobster";
  font-size: 55px;
  margin-bottom: 30px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 200px;
  padding: 15px;
  background-color: whitesmoke;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-iteration-count: finite;
          animation-iteration-count: finite;
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0, 5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0, 5;
  }
  100% {
    opacity: 1;
  }
}
.indexH .hBar {
  font-size: 19px;
  font-family: "Comfortaa";
  text-decoration: none;
}

header ul li {
  margin-left: 90px;
  margin-right: 90px;
}
header ul li a:hover {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(#97cdde, rgb(211, 227, 233));
}

a {
  text-decoration: none;
  color: rgb(247, 247, 247);
}

/* searchbar */
#searchSpace {
  height: 120px;
  background-color: #97cdde;
}

::-moz-placeholder {
  color: rgb(255, 255, 255);
}

:-ms-input-placeholder {
  color: rgb(255, 255, 255);
}

::placeholder {
  color: rgb(255, 255, 255);
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #4d7d94;
  border-radius: 30px;
  padding: 10px;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 400px;
  caret-color: rgb(134, 201, 221);
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #3cc5e7;
}

.search_input {
  color: rgb(248, 246, 246);
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

/* End of searchbar */
.footer-basic {
  padding: 50px 0;
  height: 50px;
  padding-bottom: 50px;
  color: #000000;
}
.footer-basic .social {
  text-align: center;
  display: flex;
  flex: row;
  justify-content: center;
}
.footer-basic .social > a {
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  margin: 0 50px;
  color: inherit;
  opacity: 0.75;
  margin-top: 3%;
  margin-bottom: 20px;
}
.footer-basic .social > a:hover {
  opacity: 0.9;
  background-color: #97cdde;
  color: #ffffff;
}
.footer-basic .us {
  margin-top: 4px;
  text-align: center;
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  font-family: "Comfortaa";
  font-size: 25px;
  background-color: #c4e7f1;
  border: 2px solid rgb(0, 0, 0);
  padding: 50px;
  border-radius: 200px;
  text-decoration: none;
}

.branding {
  font-style: italic;
  color: #ffffff;
}/*# sourceMappingURL=styles.css.map */